.chatItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 100%;
  padding-left: 0.5rem;

  :global .mantine-ActionIcon-root {
    position: absolute;
    top: var(--mantine-spacing-xs);
    right: var(--mantine-spacing-md);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  :global .mantine-NavLink-label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.chatItem:hover {
  :global .mantine-ActionIcon-root {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .chatItem {
    :global .mantine-ActionIcon-root {
      opacity: 1;
    }
  }
}
