.chatItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  width: 100%;

  :global .mantine-ActionIcon-root {
    position: absolute;
    top: 0.6em;
    right: 0.5em;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  :global .mantine-NavLink-label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.chatItem:hover {
  :global .mantine-ActionIcon-root {
    opacity: 1;
  }
}

.control {
  padding: 0 1rem 0 0.5rem !important;
  margin: 0 !important;
}

.content {
  padding: 0 !important;
  margin: 0 !important;
}
.label {
  font-weight: 600 !important;
  font-size: 80%;

  padding: 0.75rem 0 !important;
  margin: 0 !important;
}
