.control {
  padding: 0 1rem 0 0.5rem !important;
  margin: 0 !important;
  color: var(--mantine-color-brand-5) !important;
}

.content {
  padding: 0 !important;
  margin: 0 !important;
}

.label {
  font-weight: 600 !important;
  font-size: 80%;
  padding: var(--mantine-spacing-sm) 0 !important;
  margin: 0 !important;
}

.header {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md) var(--mantine-spacing-xs);
  font-weight: 600 !important;
  font-size: 80%;
  color: var(--mantine-color-brand-5);
}
