.control {
  padding: 0 1rem 0 0.5rem !important;
  margin: 0 !important;
}

.content {
  padding: 0 !important;
  margin: 0 !important;
}
.label {
  font-weight: 600 !important;
  font-size: 80%;

  padding: 0.75rem 0 !important;
  margin: 0 !important;
}
