[data-mantine-color-scheme="dark"] {
  .navLinks {
    background-color: var(--mantine-color-dark-8);
  }
}

[data-mantine-color-scheme="light"] {
  .navLinks {
    background-color: var(--mantine-color-gray-1);
  }
}

.chatsSection {
  border-bottom: 1px solid var(--mantine-color-default-border);
}
