@use "sass:meta";

// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Mantine styles */
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/carousel/styles.css";

/* Global CSS */
body {
  margin: 0;
  --monospace-font-family: "Fira Code", "Consolas", monospace;
  --app-shell-border-color: var(--mantine-color-gray-4);
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.mantine-Container-root {
  --container-size-md: calc(75rem * var(--mantine-scale)) !important;
  --container-size-lg: calc(100rem * var(--mantine-scale)) !important;
  --container-size-xl: calc(120rem * var(--mantine-scale)) !important;
}

[data-mantine-color-scheme="light"] {
  @include meta.load-css("highlight.js/styles/panda-syntax-light");
  & {
    --input-bd: var(--mantine-color-gray-4);
    --input-bg: var(--mantine-color-gray-7);
    --app-shell-border-color: var(--mantine-color-gray-4);
    --input-bd-focus: var(--mantine-primary-color-filled);
    --theme-default-time: 0.2s;
  }

  body {
    background-color: var(--mantine-color-gray-0);
  }

  ::selection {
    background-color: var(--mantine-color-gray-4);
  }
}

[data-mantine-color-scheme="dark"] {
  @include meta.load-css("highlight.js/styles/a11y-dark");
  & {
    --input-bd: var(--mantine-color-dark-4);
    --input-bg: var(--mantine-color-dark-6);
    --app-shell-border-color: var(--mantine-color-dark-6);
    --input-bd-focus: var(--mantine-primary-color-filled);
    --theme-default-time: 0.2s;
  }

  body {
    background-color: var(--mantine-color-dark-6);
  }

  ::selection {
    background-color: var(--mantine-color-brand-9);
  }
}
