.katechat-message {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;

  .katechat-message-main,
  .katechat-message-linked {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: var(--mantine-radius-md);
  }

  .katechat-message-linked {
    padding-left: var(--mantine-spacing-sm);
  }

  .katechat-message-linked-toggle {
    display: none;
  }
}

.katechat-message-linked {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.katechat-message-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  word-break: break-all;
  border-radius: var(--mantine-radius-md);
  margin-top: var(--mantine-spacing-md);

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: var(--mantine-spacing-sm);
  }

  blockquote {
    padding: 0 var(--mb-padding, var(--mantine-spacing-sm));
    border-left: 0.5rem solid var(--mantine-color-default-border);
    margin: 0.25rem 0;
  }

  hr {
    width: 100%;
    margin: 0.5rem 0 0.25rem;
    border: none;
    border-top: 1px solid var(--mantine-color-default-border);
  }

  ol,
  ul {
    margin: 0.25rem 0 0.25rem 0.5rem;
    padding: 0 0 0 1.5rem;
  }

  img {
    max-width: 256px;
    max-height: 256px;
    align-self: center;
    height: auto;
    margin: 0.5rem;
    vertical-align: top;
    cursor: pointer;
  }

  &.katechat-message-preview {
    height: 200px;
    padding: var(--mb-padding, var(--mantine-spacing-sm)) 0 0 0;
    font-size: 80%;

    img {
      max-width: 50%;
      height: auto;
    }
  }

  .katechat-message-content-details {
    margin-top: 1rem;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-top: 1px dashed var(--mantine-color-gray-7);
    padding-top: 0.5rem;

    ol,
    ul {
      margin: 0.25rem 0;
      padding: 0 0 0 1rem;
    }

    .message-details-header {
      margin-bottom: var(--mantine-spacing-md);

      svg {
        color: var(--mantine-color-gray-7);
      }
    }

    .message-details-content {
      padding-left: var(--mantine-spacing-md);
      border-left: 1px solid var(--mantine-color-gray-7);
      margin-left: 0.5rem;
    }
  }

  table {
    margin-top: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
    border-spacing: 0;

    td,
    th {
      padding: var(--mb-padding, var(--mantine-spacing-sm));
      margin: 0;
      border-top: 1px solid var(--mantine-color-default-border);
      border-left: 1px solid var(--mantine-color-default-border);
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 1px solid var(--mantine-color-default-border);
    }
    tr:last-child td {
      border-bottom: 1px solid var(--mantine-color-default-border);
    }

    tr:nth-child(2n) {
      background-color: var(--mantine-color-dark-5);
    }

    thead {
      tr {
        background-color: var(--mantine-color-dark-5);
      }

      tr:first-child th:first-child {
        border-top-left-radius: var(--mantine-radius-md);
      }
      tr:first-child th:last-child {
        border-top-right-radius: var(--mantine-radius-md);
      }
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--mantine-radius-md);
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: var(--mantine-radius-md);
    }
  }

  pre {
    margin: 0.5rem 0;
    padding: 1em;
    clip-path: none;
    font-size: 90%;
    transition: all var(--theme-default-time) ease;
    font-family: var(--monospace-font-family);
    overflow-x: auto;
  }

  .code-header {
    font-size: 0.875rem;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg) var(--mantine-spacing-sm) var(--mantine-spacing-md);
    border-top-right-radius: var(--mantine-radius-md);
    border-top-left-radius: var(--mantine-radius-md);
    min-height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: normal;
    gap: 0.5rem;

    &.placeholder {
      min-height: 2rem;
      opacity: 0;
    }

    .title {
      width: fit-content;
      font-weight: 700;
      display: flex;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
      user-select: none;
      min-height: 2rem;

      .header-toggle {
        margin-right: 0.5rem;
        display: none;
        display: inline-block;
        transform: rotateZ(90deg);
        transition: transform var(--theme-default-time) ease;
      }
    }

    .code-header-actions {
      align-content: flex-end;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .action-btn {
      padding: 0.1rem;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      gap: 0.25rem;
      cursor: pointer;
      color: var(--mantine-color-dimmed);

      &:hover {
        color: var(--mantine-color-text);
      }
    }

    .action-btn-label {
      display: none;
    }

    .code-run-btn {
      color: var(--mantine-color-teal-6);

      &:hover {
        color: var(--mantine-color-teal-4);
      }
    }

    &.collapsed {
      border-bottom-right-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
      margin-bottom: 0;
      .title {
        .header-toggle {
          transform: translateY(0.2rem) rotateZ(0deg);
        }
      }

      .code-copy-btn,
      .code-download-btn,
      .code-run-btn {
        display: none;
      }
    }
  }

  .code-block {
    pre {
      margin: 0;
      white-space: pre;
    }

    flex-grow: 1;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    transition:
      clip-path 0.5s ease,
      height 0.5s ease,
      opacity 0.5s ease;

    &.collapsed {
      clip-path: inset(0 0 100% 0);
      overflow-y: hidden;
      height: 0;
      opacity: 0;
    }
  }

  .code-data {
    display: none;
  }

  .katex-html {
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0;
  }
}

.katechat-message-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0 0;
  opacity: 0.5;
  transition: opacity var(--theme-default-time) ease;

  .check-icon {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
}

[data-mantine-color-scheme="dark"] {
  .katechat-message {
    .code-block,
    pre {
      background-color: var(--mantine-color-dark-8);
    }

    .code-header {
      background-color: var(--mantine-color-dark-5);
      &:hover {
        background-color: var(--mantine-color-dark-6);
      }
    }

    &.katechat-message__user {
      background-color: var(--mantine-color-dark-8);
      border-top: 1px solid var(--mantine-color-dark-6);
      border-bottom: 1px solid var(--mantine-color-dark-6);
    }

    &.katechat-message__error {
      .katechat-message-content {
        color: var(--mantine-color-yellow-9);
      }
    }

    .katechat-message-linked {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

[data-mantine-color-scheme="light"] {
  .katechat-message {
    .code-block,
    pre {
      background-color: var(--mantine-color-gray-3);
    }

    .code-header {
      background-color: var(--mantine-color-gray-4);
      &:hover {
        background-color: var(--mantine-color-gray-5);
      }

      .action-btn {
        color: var(--mantine-color-dark-9);
        &:hover {
          color: var(--mantine-color-dark-6);
        }
      }

      .code-run-btn {
        color: var(--mantine-color-teal-7);

        &:hover {
          color: var(--mantine-color-teal-6);
        }
      }
    }

    &.katechat-message__user {
      background-color: var(--mantine-color-blue-0);
      border-top: 1px solid var(--mantine-color-blue-1);
      border-bottom: 1px solid var(--mantine-color-blue-1);
    }

    &.katechat-message__error {
      .katechat-message-content {
        color: var(--mantine-color-red-5);
      }
    }

    .katechat-message-linked {
      background-color: var(--mantine-color-gray-2);
    }

    tr:nth-child(2n) {
      background-color: var(--mantine-color-blue-1);
    }

    thead tr {
      background-color: var(--mantine-color-blue-1);
    }
  }

  .katechat-message-content-details {
    border-color: var(--mantine-color-gray-5);

    .message-details-header svg {
      color: var(--mantine-color-gray-5);
    }
    .message-details-content {
      border-color: var(--mantine-color-gray-5);
    }
  }
}

@media (min-width: 720px) {
  .katechat-message {
    .code-header {
      .action-btn-label {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1280px) {
  .katechat-message {
    flex-direction: column;
    position: relative;

    .katechat-message-linked-toggle {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      display: flex;
      z-index: 5;
    }

    .katechat-message-main,
    .katechat-message-linked {
      width: 100%;
      margin: 0;
      border-radius: 0;
    }

    .hidden {
      display: none;
    }
  }
}
