#############################  Server Configuration
PORT=4000
NODE_ENV=development

#############################  DB Configuration
DB_TYPE=sqlite

############################# LLM Providers Configuration
# AWS_REGION=us-west-2
# AWS_PROFILE=default
# AWS_ACCESS_KEY_ID=your-access-key
# AWS_SECRET_ACCESS_KEY=your-secret-key

# OpenAI Configuration (uncomment to connect to OpenAI)
# OPENAI_API_KEY=your-openai-api-key
# OPENAI_API_ADMIN_KEY=your-openai-admin-key
# OPENAI_API_URL=https://api.openai.com/v1


############################# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000

############################# JWT Secret
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=86400

############################# OAuth Configuration
# GOOGLE_CLIENT_ID=your-google-client-id
# GOOGLE_CLIENT_SECRET=your-google-client-secret
# GITHUB_CLIENT_ID=your-github-client-id
# GITHUB_CLIENT_SECRET=your-github-client-secret
# CALLBACK_URL_BASE=http://localhost:4000
# FRONTEND_URL=http://localhost:3000
# SESSION_SECRET=your-session-secret

############################# reCAPTCHA Configuration
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe # https://developers.google.com/recaptcha/docs/faq
