.dragging {
  background-color: var(--mantine-color-gray-5);
  opacity: 0.8;
}

.activated {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1;
}

.disabled {
  color: var(--mantine-color-gray-4);
  cursor: not-allowed;
}
