.dragging {
  background-color: var(--mantine-color-brand-8);
}

.activated {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.disabled {
  color: var(--mantine-color-gray-4);
  cursor: not-allowed;
}
