.container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

/* Edit title icon styles */
.editTitleButton {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.title:hover {
  .editTitleButton {
    opacity: 0.7;
  }
}

.titleRow {
  .wsStatusIndicator {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;

    background: gray;
    &.connected {
      background: green;
    }
  }
}
.modelRow {
  position: relative;
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 1rem;
  position: relative;

  .messagesList {
    opacity: 0;
  }

  &.loadCompleted {
    scroll-behavior: smooth;
    .messagesList {
      opacity: 1;
    }
  }
}

.chatInputContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-items: space-between;
  align-items: flex-start;
}

.anchorContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: -3.5em;
  height: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .anchor {
    background-color: var(--mantine-color-body);
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}

.chatSettings {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  display: flex !important;
  z-index: 5;
}

.chatSettingsHidden {
  display: none !important; /* Hidden by default */
}
