aiohttp==3.12.14
python-dotenv==1.0.1
pydantic==2.9.2
tabulate==0.9.0
aiologger===0.6.1
fastapi==0.109.1
gunicorn==23.0.0
ipython==8.10.0
pytest==6.2.5
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pydantic-settings==2.4.0
redis==5.0.8
uvicorn==0.17.6
boto3==1.40.11
botocore==1.40.11
tiktoken==0.8.0
docling==2.14.0
langchain==0.3.3

# openai==1.51.2
# requests==2.32.3
# tqdm==4.66.5
# rank-bm25==0.2.2
# pyprojroot==0.3.0
# pandas==2.2.3
# faiss-cpu==1.9.0.post1
# json_repair==0.35.0
# httpx==0.27.2
# itsdangerous==1.1.0
# orjson==3.9.15
# passlib==1.7.4
# bcrypt==3.2.2
# pyjwt==2.4.0
