.container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;

  --container-size-md: calc(75rem * var(--mantine-scale)) !important;
  --container-size-lg: calc(100rem * var(--mantine-scale)) !important;
  --container-size-xl: calc(120rem * var(--mantine-scale)) !important;
}

/* Edit title icon styles */
.editTitleButton {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.title:hover {
  .editTitleButton {
    opacity: 0.7;
  }
}

.titleRow {
  .wsStatus {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.7;
  }

  .wsStatusIndicator {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;

    background: gray;

    &.connected {
      background: green;
    }
  }
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 1rem;
  position: relative;
  display: none;
  flex-direction: column;
  border: 1px solid var(--input-bd);
  border-radius: var(--mantine-radius-md);
  transition: all 0.5s ease;
  opacity: 1;

  .messagesList {
    opacity: 0;
    margin-bottom: 1rem;
  }

  &.empty {
    flex-grow: 0;
    opacity: 0;
  }

  &.loadCompleted {
    scroll-behavior: smooth;
    display: flex;

    .messagesList {
      opacity: 1;
    }
  }
}

.chatControls {
  display: flex;
  &.hidden {
    display: none;
  }
}

.modelRow {
  padding: 0.5rem;
}

.chatInputContainer {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: flex-start;
  padding: 0.5rem;
  border: 1px solid var(--input-bd);
  border-radius: var(--mantine-radius-default);
  position: relative;

  &.columned {
    flex-direction: column;
    align-items: flex-start;
    justify-items: stretch;

    .chatInputGroup {
      align-self: stretch;
    }
  }

  .filesList {
    .previewImage {
      position: relative;
      background-color: var(--input-bg);
      height: 64px;
      border-radius: var(--mantine-radius-default);

      :global img {
        max-width: 64px;
        max-height: 64px;
        object-fit: cover;
        border-radius: var(--mantine-radius-default);
      }

      .removeButton {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        border-radius: 50%;
      }
    }
  }

  .chatInputGroup {
    flex-grow: 1;

    .chatInput {
      flex-grow: 1;

      :global(textarea) {
        border: none !important;
      }
    }
  }
}

.anchorContainer {
  position: absolute;
  width: 40px;
  left: calc(50% - 40px);
  bottom: 0;
  top: -4em;
  height: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;

  &.visible {
    opacity: 1;
  }

  .anchor {
    background-color: var(--mantine-color-body);
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}
