.chatItem {
  :global .mantine-ActionIcon-root {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.chatItem:hover {
  :global .mantine-ActionIcon-root {
    opacity: 1;
  }
}

.chatsBlock {
  margin-top: var(--mantine-spacing-sm);

  .chatsBlockLabel {
    padding: 0 var(--mantine-spacing-sm);
    font-weight: 600;
    font-size: 80%;
    margin-bottom: 0.1em;
    color: var(--mantine-color-dark-4);
  }
}
