.messageContainer {
  overflow-x: auto;
  flex-grow: 1;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--mb-padding, var(--mantine-spacing-sm));
  border-radius: var(--mantine-radius-md);
  margin-top: var(--mb-margin, var(--mantine-spacing-xs));

  :global p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  :global img {
    max-width: 460px;
    align-self: center;
    height: auto;
    display: flex;
    margin: 0 auto;
  }

  &.preview {
    height: 200px;
    padding-top: var(--mb-padding, var(--mantine-spacing-sm));

    :global img {
      max-width: 50%;
      height: auto;
    }
  }

  :global table {
    margin-top: var(--mb-margin, var(--mantine-spacing-md));
    margin-bottom: var(--mb-margin, var(--mantine-spacing-md));
    border-spacing: 0;

    td,
    th {
      padding: var(--mb-padding, var(--mantine-spacing-xs));
      margin: 0;
      border-top: 1px solid var(--mantine-color-default-border);
      border-left: 1px solid var(--mantine-color-default-border);
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 1px solid var(--mantine-color-default-border);
    }
    tr:last-child td {
      border-bottom: 1px solid var(--mantine-color-default-border);
    }

    tr:nth-child(2n) {
      background-color: var(--mantine-color-dark-5);
    }

    thead {
      tr {
        background-color: var(--mantine-color-dark-5);
      }

      tr:first-child th:first-child {
        border-top-left-radius: var(--mantine-radius-md);
      }
      tr:first-child th:last-child {
        border-top-right-radius: var(--mantine-radius-md);
      }
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--mantine-radius-md);
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: var(--mantine-radius-md);
    }
  }

  :global pre {
    margin: 0.5rem 0;
    padding: 1em;
    clip-path: none;
    transition: all var(--theme-default-time) ease;
  }

  :global .code-header {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    white-space: normal;
    gap: 1rem;

    :global .title {
      width: fit-content;
      font-weight: 700;
      display: flex;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
      user-select: none;
      min-height: 2rem;

      :global .header-toggle {
        margin-right: 0.5rem;
        display: none;
        display: inline-block;
        transform: rotateZ(90deg);
        transition: transform var(--theme-default-time) ease;
      }
    }

    :global .action-btn {
      padding: 0.1rem;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      gap: 0.25rem;
      cursor: pointer;
    }

    &.collapsed {
      border-bottom-right-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
      margin-bottom: 0;
      :global .title {
        :global .header-toggle {
          transform: translateY(0.2rem) rotateZ(0deg);
        }
      }

      .code-copy-btn {
        display: none;
      }
    }
  }

  :global .code-data {
    display: none;
  }

  :global .code-header + pre {
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    white-space: pre;
  }

  :global pre {
    &.collapsed {
      clip-path: inset(0 0 100% 0);
      overflow-y: hidden;
      height: 0;
      margin-bottom: -1rem;
    }
  }

  :global .code-footer {
    font-size: 90%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.7rem;

    &.collapsed {
      display: none;
    }
  }

  :global .katex-html {
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0;
  }
}

.messageFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;

  :global .check-icon {
    display: none;
  }
}

[data-mantine-color-scheme="dark"] {
  .messageContainer {
    :global pre {
      background-color: var(--mantine-color-dark-6);
    }

    :global .code-header {
      background-color: var(--mantine-color-dark-6);
      &:hover {
        background-color: var(--mantine-color-dark-5);
      }
    }

    .message.user {
      background-color: var(--mantine-color-dark-8);
    }
  }
}

[data-mantine-color-scheme="light"] {
  .messageContainer {
    :global pre {
      background-color: var(--mantine-color-gray-1);
    }

    :global .code-header {
      background-color: var(--mantine-color-gray-1);
      &:hover {
        background-color: var(--mantine-color-gray-2);
      }
    }

    .message.user {
      background-color: var(--mantine-color-blue-0);
    }
  }
}
