.message {
  width: 100%;
  overflow-x: auto;

  :global p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  :global pre {
    margin: 1em 0;
    padding: 1em;
  }

  :global img {
    max-width: 460px;
    align-self: center;
    height: auto;
    display: flex;
    margin: 0 auto;
  }

  &.preview {
    height: 200px;
    padding-top: var(--mb-padding, var(--mantine-spacing-sm));

    :global img {
      max-width: 50%;
      height: auto;
    }
  }

  :global table {
    margin-top: var(--mb-margin, var(--mantine-spacing-md));
    margin-bottom: var(--mb-margin, var(--mantine-spacing-md));
    border-spacing: 0;

    td,
    th {
      padding: var(--mb-padding, var(--mantine-spacing-xs));
      margin: 0;
      border-top: 1px solid var(--mantine-color-default-border);
      border-left: 1px solid var(--mantine-color-default-border);
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 1px solid var(--mantine-color-default-border);
    }
    tr:last-child td {
      border-bottom: 1px solid var(--mantine-color-default-border);
    }

    tr:nth-child(2n) {
      background-color: var(--mantine-color-dark-5);
    }

    thead {
      tr {
        background-color: var(--mantine-color-dark-5);
      }

      tr:first-child th:first-child {
        border-top-left-radius: var(--mantine-radius-md);
      }
      tr:first-child th:last-child {
        border-top-right-radius: var(--mantine-radius-md);
      }
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--mantine-radius-md);
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: var(--mantine-radius-md);
    }
  }
}

[data-mantine-color-scheme="dark"] {
  .message {
    :global pre {
      background-color: var(--mantine-color-dark-6);
    }

    &.user {
      background-color: var(--mantine-color-blue-9);
    }
  }
}

[data-mantine-color-scheme="light"] {
  .message {
    :global pre {
      background-color: var(--mantine-color-gray-1);
    }

    &.user {
      background-color: var(--mantine-color-blue-0);
    }
  }
}
