.messageContainer {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;

  .main,
  .linked {
    padding: var(--mb-padding, var(--mantine-spacing-md));
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: var(--mantine-radius-md);
  }

  .linkedToggle {
    display: none;
  }
}

@media (max-width: 1280px) {
  .messageContainer {
    flex-direction: column;
    position: relative;

    .linkedToggle {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      display: flex;
      z-index: 5;
    }

    .main,
    .linked {
      width: 100%;
    }

    .hidden {
      display: none;
    }
  }
}

.linkedMessageContainer {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: var(--mb-padding, var(--mantine-spacing-sm));
  border-radius: var(--mantine-radius-md);

  margin-top: var(--mantine-spacing-xs);

  .htmlBlock {
    display: flex;
    flex-direction: column;
  }

  :global p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  :global img {
    max-width: 256px;
    max-height: 256px;
    align-self: center;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
  }

  &.preview {
    height: 200px;
    padding: var(--mb-padding, var(--mantine-spacing-sm)) 0 0 0;
    font-size: 80%;

    :global img {
      max-width: 50%;
      height: auto;
    }
  }

  :global table {
    margin-top: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
    border-spacing: 0;

    td,
    th {
      padding: var(--mb-padding, var(--mantine-spacing-xs));
      margin: 0;
      border-top: 1px solid var(--mantine-color-default-border);
      border-left: 1px solid var(--mantine-color-default-border);
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 1px solid var(--mantine-color-default-border);
    }
    tr:last-child td {
      border-bottom: 1px solid var(--mantine-color-default-border);
    }

    tr:nth-child(2n) {
      background-color: var(--mantine-color-dark-5);
    }

    thead {
      tr {
        background-color: var(--mantine-color-dark-5);
      }

      tr:first-child th:first-child {
        border-top-left-radius: var(--mantine-radius-md);
      }
      tr:first-child th:last-child {
        border-top-right-radius: var(--mantine-radius-md);
      }
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--mantine-radius-md);
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: var(--mantine-radius-md);
    }
  }

  :global pre {
    margin: 0.5rem 0;
    padding: 1em;
    clip-path: none;
    font-size: 90%;
    transition: all var(--theme-default-time) ease;
    font-family: var(--monospace-font-family);
    overflow-x: auto;
  }

  :global .code-header {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: normal;
    gap: 0.5rem;

    :global .title {
      width: fit-content;
      font-weight: 700;
      display: flex;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
      user-select: none;
      min-height: 2rem;

      :global .header-toggle {
        margin-right: 0.5rem;
        display: none;
        display: inline-block;
        transform: rotateZ(90deg);
        transition: transform var(--theme-default-time) ease;
      }
    }

    :global .code-header-actions {
      align-content: flex-end;
    }

    :global .action-btn {
      padding: 0.1rem;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      gap: 0.25rem;
      cursor: pointer;
    }

    &.collapsed {
      border-bottom-right-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
      margin-bottom: 0;
      :global .title {
        :global .header-toggle {
          transform: translateY(0.2rem) rotateZ(0deg);
        }
      }

      .code-copy-btn {
        display: none;
      }
    }
  }

  :global .code-block {
    :global pre {
      margin: 0;
      white-space: pre;
    }

    flex-grow: 1;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;

    &.collapsed {
      clip-path: inset(0 0 100% 0);
      overflow-y: hidden;
      height: 0;
    }
  }

  :global .code-data {
    display: none;
  }

  :global .code-footer {
    font-size: 90%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.7rem;

    &.collapsed {
      display: none;
    }
  }

  :global .katex-html {
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0;
  }
}

.switchModelDropdown {
  max-height: 300px;
  overflow-y: auto;

  :global .mantine-Menu-itemLabel {
    font-size: 90%;
  }
}

.messageFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0 0.25rem;
  opacity: 0.5;
  transition: opacity var(--theme-default-time) ease;

  :global .check-icon {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
}

[data-mantine-color-scheme="dark"] {
  .messageContainer {
    :global .code-block,
    :global pre {
      background-color: var(--mantine-color-dark-6);
    }

    :global .code-header {
      background-color: var(--mantine-color-dark-6);
      &:hover {
        background-color: var(--mantine-color-dark-5);
      }
    }

    .message.user {
      background-color: var(--mantine-color-dark-9);
    }

    .linked {
      background-color: var(--mantine-color-dark-8);
    }
  }
}

[data-mantine-color-scheme="light"] {
  .messageContainer {
    :global .code-block,
    :global pre {
      background-color: var(--mantine-color-gray-1);
    }

    :global .code-header {
      background-color: var(--mantine-color-gray-1);
      &:hover {
        background-color: var(--mantine-color-gray-2);
      }
    }

    .message.user {
      background-color: var(--mantine-color-blue-0);
    }
    .linked {
      background-color: var(--mantine-color-gray-3);
    }
  }
}
