[data-mantine-color-scheme="light"] {
  .chatControlsContainer {
    .chatInputContainer {
      border: 1px solid var(--app-shell-border-color);
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    }

    .chatInputGroup .chatInput :global(textarea) {
      border: none;
    }
  }
}

.hidden {
  display: none !important;
}

.chatControlsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  &.promptMode {
    flex-grow: 1;
  }

  .headerRow {
    padding: 0.5rem 0;
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
  }
}

.chatInputContainer {
  display: flex;
  flex-direction: column;
  justify-items: stretch;

  padding: 0.5rem;
  gap: 0.5rem;

  background-color: var(--mantine-color-body);
  border: 1px solid var(--app-shell-border-color);
  border-radius: var(--mantine-radius-md);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

  .documentsInput {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: stretch;
  }

  &.columned {
    flex-direction: column;
    align-items: flex-start;
    justify-items: stretch;

    .chatInputGroup {
      align-self: stretch;
    }
  }

  .imagesList {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .previewImage {
      position: relative;
      height: 64px;
      border-radius: var(--mantine-radius-md);

      :global img {
        max-width: 64px;
        max-height: 64px;
        object-fit: cover;
        border-radius: var(--mantine-radius-md);
        box-shadow: 0.125rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
      }

      .removeButton {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        border-radius: 50%;
      }
    }
  }

  .chatInputGroup {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .chatInput {
      flex-grow: 1;

      :global(textarea) {
        border: none;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}

@media (min-width: 480px) {
  .chatInputContainer {
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;

    .chatInputGroup {
      align-self: stretch;
    }
  }
}
