@use "sass:meta";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Mantine styles */
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dates/styles.css";

[data-mantine-color-scheme="light"] {
  @include meta.load-css("highlight.js/styles/panda-syntax-light");
  & {
    --input-bd: var(--mantine-color-gray-4);
    --input-bg: var(--mantine-color-white);
    --input-bd-focus: var(--mantine-primary-color-filled);
  }
}
[data-mantine-color-scheme="dark"] {
  @include meta.load-css("highlight.js/styles/a11y-dark");
  & {
    --input-bd: var(--mantine-color-dark-4);
    --input-bg: var(--mantine-color-dark-6);
    --input-bd-focus: var(--mantine-primary-color-filled);
  }
}

/* Global CSS */
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
