/* Import Mantine styles */
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

/* Global CSS */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}